<%- include("templates/header", {title: "ChatBook" })%>
<%- include("templates/navbar")%>
<main class="background flex justify-center pt-6">
    <section class="w-1/2 bg-white h-16 flex align-middle content-center flex-wrap p-2 gap-2 rounded-md">
        <img class="h-12 w-auto rounded-full border-2 border-gray-200" src="./images/profile.jpg" alt="">
        <input type="text" class="flex-1 bg-gray-100 px-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent" onclick="postRedirect()" placeholder="Create a post">
    </section>
</main>

<script src="/js/home.js"> </script>
<%- include("templates/footer") %>