<%- include("templates/header", {title: "ChatBook" })%>
<nav class="bg-white block w-full">
  <div class="max-w-screen px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 w-full items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <img class="h-12 w-auto" src="./images/logo2.png" alt="Your Company">
        </div>
        <div class="flex space-x-4 justify-center content-center">
          <a href="/home" class="flex justify-center items-center align-middle content-center flex-wrap h-full pl-2">
            <i class="fa-solid fa-house"class="w-6 h-6"></i>
              <span class="text-black rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</span>
          </a>
        </div>
        <div class="flex-1 pl-4 flex items-center bg-gray-50 rounded-3xl">
          <span class="text-gray-500">
            <i class="fa-solid fa-magnifying-glass pr-2"></i>
          </span>
          <input type="text" class="w-full p-3 bg-gray-50 rounded-r-3xl text-gray-800 focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:border-transparent" placeholder="Search ChatBook"/>
        </div>
        <% if (authenticated) { %>
            <a href="/post" class="flex items-center p-3 ml-4 justify-center content-center bg-gray-100 text-gray-400 hover:ring-1 hover:ring-black">
                <i class="fa-solid fa-plus fa-lg"></i>
            </a>
        <% } %>
      </div>
      <div class="flex items-center sm:inset-auto ml-1 sm:pr-0 h-full">
        <div class="flex ml-1 h-full py-1 gap-3">
            <% if (authenticated) { %>
                <a href="#" class="flex flex-row gap-2 justify-center items-center border-2 border-slate-100 rounded-sm h-full px-2">
                    <img class="h-10 w-10 rounded-md object-cover" src="./images/profile.jpg" alt="">
                    <span class="text-sm font-semibold text-slate-700">Joushua Dela Cruz</span>
                </a>
            <% } else { %>
                <a href="/login" class="flex flex-row gap-2 justify-center items-center rounded-sm h-full px-2">
                    <span class="text-sm font-semibold text-slate-700">Login</span>
                </a>
                <a href="/signUp" class="flex flex-row gap-2 justify-center items-center rounded-sm h-full px-2">
                    <span class="text-sm font-semibold text-slate-700">Sign Up</span>
                </a>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript"> 
    $.cloudinary.config({ cloud_name: '<%= process.env.CLOUDINARY_CLOUD_NAME %>', secure: true});
</script>
<main class="background flex flex-col items-center content-center pt-6 gap-4">
    <section class="w-1/2 bg-white h-16 flex align-middle content-center flex-wrap p-2 gap-2 rounded-md">
        <img class="h-10 w-10 rounded-full border-2 border-gray-200 object-cover" src="./images/profile.jpg" alt="">
        <input type="text" class="flex-1 bg-gray-50 ring-1 ring-gray-100 px-2 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500 hover:ring-1 hover:ring-blue-500 focus:border-transparent" onclick="postRedirect()" placeholder="Create a post">
    </section>
    <section class="w-1/2 flex flex-col gap-2 items-center">
        <% let i = 0; %>
        <% for(i = 0; i < posts.length; i++) { %>
            <%- include("./templates/postCard", {post: posts[i]}) %>
        <% } %>
    </section>
</main>

<script src="/js/home.js"> </script>
<%- include("templates/footer") %>