<%- include("templates/header", {title: "Create a post" })%>
<%- include("templates/navbar")%>
<main class="background pt-16 flex justify-center gap-3">
    <section class="w-1/2">
        <h1 class="text-xl text-white font-medium px-4">Create a post</h1>
        <hr class="h-px bg-cyan-200 border-0 dark:bg-cyan-700 my-8">
        <div class="bg-white flex flex-col p-5 gap-3">
            <div class="flex flex-row ring-gray-200 ring-1 rounded-sm min-h-9 focus:outline-none focus:ring-black focus:border-transparent" id="title-container">
                <textarea type="text"
                class="h-8 px-2 py-1 flex-1 rounded-sm resize-none overflow-hidden text-sm align-middle" id="title" placeholder="Write a title" maxlength="300"></textarea>
                <div class=" px-3 flex justify-center content-center flex-wrap text-xs font-medium text-blue-800"  id="title-counter">0/300</div>
            </div>
            <textarea class="ring-gray-200 ring-1 rounded-sm h-60 py-1 px-2 resize-none overflow-hidden focus:ring-black" id="content" placeholder="What's on your mind?"></textarea>
            <hr class="h-px bg-gray-100 border-0 mt-8 mb-4">
            <div class="flex justify-end">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-1 px-3 rounded opacity-50" onclick="submitPost()" id="post-btn" disabled> Post </button>
            </div>
        </div>
    </section>
    <section class="w-1/4">
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script src="/js/postListeners.js"> </script>
<script src="/js/post.js"> </script>
<%- include("templates/footer") %>